<div class="col-10 offset-1">
  <h1>About Happy Vibes</h1>

  <p>
    Life gets tough! Happy Vibes was to share random happy thoughts, tips and quotes. 
  </p>
  <br />
  <p>
    Bonnie.... 
  </p>
  <p>
    Check out her work ....
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'bonnie.jpg', class: 'img-fluid' %>
    </div> 

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Bonnie Kilpatrick</h2>
      <br />
      <p>
        Bio...
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>