@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Englebert|Rum+Raisin|The+Girl+Next+Door');

html {
  background: url('bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-brand {
  font-family: 'Rum Raisin', sans-serif;
}

