@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Forum|Pompiere|Rum+Raisin');

html {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
}

body {
  background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
  url('bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



h1 {
  font-family: 'Forum', cursive;
  color: white;
  font-size: 32px;
}

h2 {
  font-family: 'Forum', cursive;
  color: white;
  font-size: 22px;
  font-style: italic;
}

h3 {
  font-family: 'Pompiere', cursive;
  color: #adf9ac;
}

hr {
  clear:both;
}

.clear {
  clear: both;
}

.menu {
  background-color: white;
  height: 100px;
}

.navbar-brand {
  padding-top: 20px;
  font-family: 'Rum Raisin', sans-serif;
  font-size: 35px;
  color: black;
}


.slogan {
  padding-top: 25px;
  font-color: #adf9ac;
}


.links {
  padding-top: 26px;
}

.links a {
  color: black;
  font-size: 25px;
  border-bottom: 1px solid #dfdfdf;
}

header {
  border-top: 9px solid #222222;
  color: white;
}

.quote-wrapper {
  width: 70%;
  max-width: 800px auto;
  margin-top: 5%
  // height: 700px auto;
}


.quote-text {
  padding: 25px;
  position: relative;
}

div.quote-text:before {
  position: absolute;
  content: '';
  background: linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.next-quote {
  color: #adf9ac;
  border: 1px solid;
  border-color: #adf9ac;
  padding: 10px;
  font-family: 'Pompiere', cursive;
  font-size: 20px;
}

a.next-quote:hover {
  text-decoration: none;
  color: #CCF2CB;
  border-color: #CCF2CB;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.footer-blurb {
  text-align: right;
}